<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>What is your Car? 🚗</div>
	<p>
	<div style="text-align:center">
	    <img src="https://raw.githubusercontent.com/SpellOnYou/SpellOnYou.github.io/master/assets/images/ccars.png" width="200px" height="250px"/>		
	</div>
	developed my <i>Digital Product School</i>
	<img src="https://raw.githubusercontent.com/SpellOnYou/SpellOnYou.github.io/master/assets/images/dps-logo-black.png" width="30px" height="30px"/>
	And Team <i>Cero</i>
	<img src="https://raw.githubusercontent.com/SpellOnYou/SpellOnYou.github.io/master/assets/images/cero.png" width="40px" height="25px"/>	  
	  
	</p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
